.App {
  text-align: center;
  margin: 0 auto;
}

.App-nav {
  display: flex;
  flex-flow: row wrap;
  background-color: #f4cc70;
  justify-content: center;
}

.App-nav > div {
  padding: 0.7em 1.4em;
  font-size: 1.3em;
  color: #555;
  font-weight: bold;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */    
}

.App-nav > div:hover {
  color: #444;
  text-decoration: underline;
}

@media only screen and (max-width: 620px) {
  .App-nav {
      font-size: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .App-nav {
      flex-flow: column nowrap;
      align-items: center;
      font-size: 80%;
  }
  .App-nav > div {
    border-right: none;
    border-bottom: 1px solid #999;
    width: 100%;
  }
}

.App-header {
  background-color: #2a3132;
  padding: 1em 0;
  padding-top: 0;
  color: white;
}

.App-header-img-div {
  height: 300px;
  background-position: 65% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/bird-rock.jpg");
}

@media only screen and (min-width: 1200px) {
  .App-header-img-div {
    height: 350px;
  }
}
@media only screen and (min-width: 1400px) {
  .App-header-img-div {
    height: 400px;
  }
}
@media only screen and (min-width: 1600px) {
  .App-header-img-div {
    height: 450px;
  }
}

.App-logo-text {
  font-family: 'Indie Flower', serif;
  font-weight: bold;
  color: #a1be95;
  font-size: 3em;
  padding-top: 0.3em;
}

.App-title {
  font-size: 1.7em;
  margin-top: 0;
  color: #68a225;
}

.App > main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0.7em;
}

.App-intro {
  font-size: large;
}

.App > section {
  border-top: 2px solid lightgrey;
}
