.App {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 2em;
}

.App-header {
  background-color: #2a3132;
  padding: 0 0 0.2em 0;
  color: white;
}

.App-header-img {
  display: block;
}

.App-header-title {
  background: linear-gradient(to top, #2a3132, #2a3132 80%, #475464);
  padding: 0 1em;
}

@media only screen and (max-width: 777px) {
  .App-header-title {
    font-size: 75%;
  }
}  

.App-logo-text {
  font-family: 'Architects Daughter', serif;
  font-weight: bold;
  color: #6EA86A;
  font-size: 3em;
  padding-top: 0.4em;
}

.App-title {
  /* font-family: 'Slabo 27px', 'Roboto', serif; */
  /* font-family: 'Crimson Text', 'Roboto', serif; */
  font-size: 2em;
  margin-top: 0;
  color: #AF8B41;
}

.App-nav {
  display: flex;
  flex-flow: row wrap;
  background-color: #AF9677;
  justify-content: center;
  margin-top: 0.5em;
}

.App-nav > div {
  padding: 0.7em 0.7em;
  font-size: 1.3em;
  color: #333;
  font-weight: bold;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

@media only screen and (max-width: 500px) {
  .App-nav-divider {
    display: none;
  }
}

.App-nav-divider:hover {
  cursor: default;
}

.App-nav-item:hover {
  color: #4F6745;
  text-decoration: underline;
  /* background: #CCBBAB; */
  cursor: pointer;
}

@media only screen and (max-width: 620px) {
  .App-nav {
      font-size: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .App-nav {
      flex-flow: column nowrap;
      align-items: center;
      font-size: 80%;
  }
  .App-nav > div {
    border-right: none;
    border-bottom: 1px solid #777;
    width: 100%;
  }
}

.App > main {
  max-width: 1000px;
  /* padding: 0.7em; */
  margin: 0 auto;
  padding: 0.7em 0;
}

.App-intro-div {
  padding: 1em;
}

.App-intro {
  font-size: large;
}

section {
  border-top: 2px solid #999;
}

a {
  color: inherit;
  text-decoration: inherit;
}